<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Employee</h3>

    <div class="form-group ">
      <input type="text" [(ngModel)]="employeeDetails.employeeId" class="form-control" placeholder="EmployeeId" name="employeeId" ngDefaultControl>
    </div>

    <div class="form-group mb-2 mt-2 ">
      <input type="text" [(ngModel)]="employeeDetails.salary" class="form-control" placeholder="Salary" name="salary" ngDefaultControl>
    </div>

    <div class="form-group mb-2 mt-2 ">
      <input type="text" [(ngModel)]="employeeDetails.manager" class="form-control" placeholder="Manager" name="manager" ngDefaultControl>
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block w-100" (click)="addEmployee()">Create Employee</button>
    </div>

  </div>
</div>
